.header-container{
    display:flex;
    align-items:center;
    justify-content: center;
    padding:5px;
    max-width:100%;
    max-height:15%;
    margin: 3px 3px;
}

.header-container .page-title{
    display: flex;
    Background-color:#6A7BA2;
    border-radius:10px;
    padding: 2em 58em;
}