/*Menu de Navegação*/
main{
    border: 1px solid yellow;
    max-width: 100%;
    display:flex;
}

.navigation{
    display:inline-block;
    align-items:center;
    justify-content: center;
    padding:5px;
    max-width:10%;
    margin:auto;
    border: 1px solid red;
}

.nav_botoes{
    display:flex;
    flex-direction: column;
    Background-color:#6A7BA2;
    border-radius:10px;
    padding: 22em 3em;
    
}

/*Conteúdo Principal*/
.main_container{
    display: inline-block;

    align-items:center;
    justify-content: center;
    padding:5px;
    margin:auto;
    border: 1px solid red;
}

.galeria1{
    display:flex;
    Background-color:#6A7BA2;
    border-radius:10px;
    border: 1px solid blue;
    padding:8em 8em;
}

.conteudo{
    display:flex;
    border-radius:10px;
    border: 1px solid green;
    padding:2em 6em;
}

.galeria2{
    display:flex;
    Background-color:#6A7BA2;
    border-radius:10px;
    border: 1px solid blue;
    padding:4em 8em;
}