body{
  background-color:#74AEDF;
  overflow: hidden;
}

body .full-container{
  display:grid;
  grid-template-areas:
    "header header header header header"
    "aside main main main main"
    "aside main main main main"
    "aside main main main main"
    "footer footer footer footer footer";
  grid-gap: 0.5rem;
  grid-template-columns: 10vw auto auto auto auto;
  grid-template-rows: 18.25vh 20vh 20vh 20vh 18.25vh;
  background-color: #74AEDF;
  color:#DEA5DF;
  
  
}

h1, .conteudo-lista{
  font-family: "Truculenta", sans-serif;
}

p{
  font-family: "Roboto", sans-serif;
}